fastapi==0.115.5
uvicorn==0.32.1
python-multipart==0.0.12
loguru==0.7.2
prometheus-client==0.21.0
python-dotenv==1.0.1
pydantic==2.10.3
numpy==1.26.4
torch==2.5.1
torchvision==0.24.1
transformers==4.47.0
sentence-transformers==3.3.1
chromadb==0.5.23
langchain==0.3.12
langchain-community==0.3.12
pypdf==5.1.0
pypdfium2==4.30.0
pillow==11.0.0
openai==1.57.0
groq==0.13.0
datasets==3.2.0
pytest==8.3.4
requests==2.32.3
streamlit==1.41.0
plotly==5.24.1
